.Graph-content {
  width: 800px;
  margin: auto auto;
  padding: 10px;
}

#appContainer{
  width:100%;
  height:100%;
  background-color: #d3dbde;
}

#content {
  position: fixed;
  float: left;
  top: 116px;
  width: calc(100% - 125px);
  height: calc(100% - 124px);
  background-color: #bdc9ce;
}

#navigation{
  position: fixed;
  width: auto;
  display: table;
  z-index: 10;
}