#toolbar{
    position: absolute;
    top: 74px;
    height: 42px;
    width: calc(100% - 125px);
}

.toolbarItem{
    float: left;
    margin-right: -20px;
    position: relative;
    z-index:2;
    display: flex;
}

.toolbarText{
    background-color: #97a6ac;
    height: 42px;
    padding: 5px;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    max-width: 170px;
    border-top: 1px solid rgb(101, 123, 132);
    display: flex;
    position: relative;
}

.toolbarItem.false .toolbarText{
    width: 75px;
}
.toolbarItem.false .toolbarLink{
    width: 65%;
}

.toolbarItem.true .toolbarText{
    background-color: #bdc9ce;
}
.toolbarItem.true .toolbarLink{
    margin-right: 25px;
}
.toolbarItem.true .toolbarArrowRight,.toolbarItem.true .toolbarArrowLeft{
    border-bottom: 42px solid #bdc9ce;
}
.toolbarItem.true{
    z-index: 10;
}

#toolbarAdd{
    height:100%;
    float: left;
    margin-left: 20px;
    display: flex;
}

.closeTab{
    position: absolute;
    right: 0;
    color: black;
    width: 25px;
    height: 40px;
    display: flex;
    justify-content: center;
}

.toolbarLink{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
    font-size: small;
}
