.inputs-root{
    width: 100%;
    font-size: small;
}

.inputs-container{
    width: 100%;
    height: auto;
    padding-bottom: 4px;
}

.inputs-description{
    width: 100%;
    height: 28px;
    background-color: rgb(226,234,102);
    color: #000000;
    padding: 5px 5px 5px 10px;
    font-weight: 600;
}

.table-row.true{
    background-color: rgb(167, 183, 189);
}

.table-cell{
    padding: 2px 0 2px 2px;
}

.table-list{
    width: 100%;
}

.table-cell .textInput{
    width: 100%;
    float: right;
}

.table-cell .captionLabel{
    padding-right: 10px;
}

.table-cell.unit{
    width: 40px;
    text-align: center;
}

input.modalTextInput{
    width: 25%;
    height: 25px;
    text-align: right;
    border-style: solid;
    border-radius: 5px;
    border-color: #9da0a4;
    border-width: 1px;
    float: left;
    font-size: 18px;
}

.modalInputs-root.unitLabel{
    min-width: 60px;
}

.inputList.disable{
    pointer-events: none;
}

.modalInputs-root{
    width: 100%;
}

.modalInputs-root .textInput{
    border: 1px solid #9da0a4;
    border-radius: 1px;
}

.descTitle{
    position: absolute;
}

.hidden{
    display: none;
}