.inputs-root{
    width: 100%;
}

.input-root.true{
  background-color: rgb(189, 201, 206);
}
.inputs-description{
    width: 100%;
    background-color: rgb(226,234,102);
    color: #000000;
    padding: 5px 5px 5px 10px;
    font-weight: 600;
    border-left: 2px solid #d3dbde;
}

.inputList{
    padding: 2px 2px 0 2px;
}

.input-container{
    height: 27px;
    display: flex;
}