.optionCircle{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
}

.optionPanel{
    position: absolute;
    width: 252px;
    height: 330px;
    top: 50%;
    transform: translate(0,-50%);
}

.rightOptionIcons{
    width: 32px;
    height: 32px;
}

.optionIcon{
    width: 60px;
    height:60px;
    left: 50px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.optionIcon.up{

}

.optionIcon.down{
    bottom: 0;
}

#optionInfo{
    width: 80%;
    height: 100px;
    text-align: center;
    background-color: rgb(36,76,90);
    margin: auto auto;
    margin-top: 5px;
}

#optionLabel{
    background-color: #e2ea66;
    color: black;
    height: 30%;
    padding: 5px;
}

#optionValue{
    color: white;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
}