#header{
    position: fixed;
    width: 100%;
    z-index: 10;
}

#keyButton{
    width: 125px;
    position: fixed;
    right: 0;
    display: flex;
    height: 70px;
    justify-content: center;
    background-color: #50707b;
    border-left: 2px solid #d3dbde;
    z-index: 10;
}

#menuOpenButton{
    width: 102px;
    height: 70px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #244c5a;
    margin-right: 2px;
    z-index: 11;
}

#loginIcon{
    position: absolute;
    width: 100%;
    top: 5px;
    left: calc(50% - 30px);
}

#loginPoints{
    position: absolute;
    left: calc(50% - 11px);
    bottom: 3px;
}

#info{
    position: absolute;
    right: 123px;
    text-align: right;
    top: 74px;
    color: white;
    z-index: 9;
    height: 0;
}

.toolbarArrowLeft.info{
    border-bottom: 42px solid #244c5a;
    margin: 0;
}

#article-shift{
    display: -webkit-inline-box;
    margin-right: 2px;
    user-select: none;
}

#infoName{
    background-color: #244c5a;
    padding: 10px;
    height: 100%;
}

#label{
    color: black;
    font-weight: 600;
}

#shift-hamburger{
    width: 39px;
    height: 39px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: white
}

